* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header area start  */
.header-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.header-center,
.header-right {
  padding-top: 50px;
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 0px 30px 0px 0px;
}

.header-right a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  /* margin: 0px 20px 0px 0px; */
}

.login-btn {
  background-color: rgba(84, 184, 255, 1);
  padding: 10px 30px;
  margin-left: 20px;
}
/* header area end  */

/* hero area start  */
.hero-area {
  padding: 2rem 0rem 2rem 5rem;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero-secondary-heading {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgba(47, 43, 113, 1);
  letter-spacing: 0.2rem;
}

.hero-primary-heading {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: rgba(95, 89, 110, 1);
  padding-top: 10px;
}

.hero-pera {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  padding: 20px 0px;
  line-height: 2rem;
  margin-bottom: 25px;
}

.hero-btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(84, 184, 255, 1);
  padding: 15px 25px;
  margin-top: 30px;
}

.hero-btn i {
  position: relative;
  top: 2px;
  left: 7px;
}

.hero-area {
  background-image: url("./assets/hero-left-01.png"),
    url("./assets/hero-left-02.png"), url("./assets/hero-right-01.png"),
    url("./assets/hero-right-02.png");
  background-repeat: no-repeat;
  background-position: 0px -80px, 0px 400px, 100% 0px, 100% 60%;
}
/* hero area end */

/* classes part start  */
.class-area {
  margin: 60px 0px 20px 0px;
}
.class-cart {
  padding: 2rem 5rem;
}

.class {
  display: flex;
  justify-content: space-between;
  background-image: url("./assets/classes-left-01.png");
  background-repeat: no-repeat;
  background-position: 300px 200px;
  object-fit: cover;
}

/* cart 01  */
.class-cart-01 {
  display: flex;
  background-color: rgba(255, 253, 250, 1);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: -3px 6px 14px -8px rgba(48, 48, 48, 1);
  width: 16rem;
  gap: 10px;
  position: relative;
  bottom: 40px;
  left: 60px;
}

.class-cart-01-heading {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(4, 0, 77, 1);
}

.class-cart-01-pera {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(137, 142, 146, 1);
}

/* cart 02 */
.class-cart-02 {
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: -7px 8px 8px -1px rgba(77, 77, 77, 0.42);
  width: 16rem;
  position: absolute;
  left: 350px;
  bottom: -680px;
  object-fit: cover;
  z-index: 999;
}

.class-cart-02 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.class-cart-02-heading {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgba(4, 0, 77, 1);
  padding-bottom: 20px;
}

.class-cart-02-percent {
  display: flex;
  justify-content: space-between;
  /* padding: 10px 10px; */
  margin: 20px 0px;
  gap: 8px;
}

.cart-02-first-cart {
  background-color: rgba(255, 243, 212, 1);
  padding: 15px 20px;
  border-radius: 10px;
}

.cart-02-primary-heading {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: rgba(250, 180, 8, 1);
  font-family: "Inter", sans-serif;
}

.cart-02-primary-pera {
  font-size: 8px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: rgba(250, 180, 8, 1);
}

.cart-02-second-cart {
  background-color: rgba(220, 255, 238, 1);
  padding: 15px 25px;
  border-radius: 10px;
}

.cart-02-secondary-heading {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: rgba(25, 191, 111, 1);
  font-family: "Inter", sans-serif;
}

.cart-02-secondary-pera {
  font-size: 8px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: rgba(25, 191, 111, 1);
}
/* cart 03  */
.class-cart-03 {
  padding: 20px 20px;
  box-shadow: -3px 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 20rem;
  position: relative;
  z-index: 99;
  background-color: rgba(255, 255, 255, 1);
}

.class-cart-03-primary-heading {
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: rgba(255, 115, 59, 1);
  padding: 18px 0px;
}

.class-cart-03-secondary-heading {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: rgba(4, 0, 77, 1);
  padding-bottom: 10px;
}

.class-cart-03-pera {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(137, 142, 146, 1);
  padding-bottom: 20px;
}

.class-cart-03-date {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 40px;
}

.class-cart-03-date-pera {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: rgba(137, 142, 146, 1);
}

.join-now {
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 1);
  padding: 5px 15px;
  background-color: rgba(54, 113, 102, 1);
  border-radius: 5px;
  text-decoration: none;
}

/* content part  */
.class-content {
  width: 35%;
  margin-right: 5rem;
}

.class-content-header {
  font-size: 50px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: rgba(4, 0, 77, 1);
  padding-bottom: 20px;
}

.class-content-pera {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(51, 108, 97, 1);
  line-height: 28px;
  padding: 10px 0px 45px 0px;
}

.class-content a {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(51, 108, 97, 1);
  text-decoration: none;
}

.class-content a i {
  position: relative;
  top: 2px;
  left: 5px;
}
/* classes part end */

/* services part start  */
.services {
  display: flex;
  padding: 4rem 5rem;
  gap: 7rem;
  text-align: center;
}

.services-area {
  background-image: url("./assets/services-left.png"),
    url("./assets/services-left.png"), url("./assets/services-right.png"),
    url("./assets/services-left.png"), url("./assets/services-left.png");
  background-repeat: no-repeat;
  background-position: -10px 70px, -10px 90px, top right, bottom right,
    right 335px;
}

.services > * {
  flex: 1;
}

.services-cart-01-heading,
.services-cart-02-heading,
.services-cart-03-heading {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgba(30, 30, 30, 1);
  line-height: 50px;
}

.services-cart-01-pera,
.services-cart-02-pera,
.services-cart-03-pera {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgba(117, 117, 117, 1);
  line-height: 25px;
  padding-top: 10px;
}
/* services part end */

/* future cart start  */
.featured {
  padding: 6rem 5rem 2rem 5rem;
  background-image: url("./assets/feature-left.png"),
    url("./assets/feature-right.png");
  background-repeat: no-repeat;
  background-position: 0px 180px, bottom right;
}

.featured-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.featured-heading {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 1);
}

.featured-pera {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgba(189, 189, 189, 1);
  padding-top: 15px;
  padding-bottom: 60px;
}

.featured-cart-title {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 1);
  padding: 10px;
}

.featured-cart-pera {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgba(135, 135, 135, 1);
  padding: 5px 0px 25px 10px;
}
.feature-cart-container {
  display: flex;
  gap: 30px;
  padding: 0px 0px 0px 35px;
}
/* future cart end */

/* quality part start  */
.quality {
  display: flex;
  justify-content: space-between;
  padding: 8rem 5rem;
  background-image: url("./assets/quality-center.png"),
    url("./assets/quality-center-right.png"), url("./assets/quality-left.png");
  background-repeat: no-repeat;
  background-position: 580px 60px, 980px 570px, bottom left;
}

.quality-content {
  padding-top: 30px;
}
.quality-secondary-title {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgba(47, 43, 113, 1);
  line-height: 30px;
}

.quality-primary-title {
  font-size: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: rgba(16, 17, 48, 1);
  line-height: 70px;
  width: 500px;
  padding-bottom: 20px;
}

.quality-pera {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgba(103, 104, 123, 1);
  width: 350px;
  line-height: 30px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.quality-btn {
  text-decoration: none;
  color: rgba(255, 254, 254, 1);
  background-color: rgba(84, 184, 255, 1);
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* quality part end  */

/* subscribe part start  */
.subscribe-area {
  padding: 5rem 5rem;
  background-image: url('./assets/subscribe-right.png');
  background-repeat: no-repeat;
  background-position: 850px 280px;
  z-index: 2;
}

.subscribe {
  background-color: #ade5e4;
  display: flex;
  z-index: 1;
}

.subscribe-content {
  padding: 60px 80px;
}

.subscribe-secondary-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgba(135, 133, 170, 1);
  line-height: 25px;
}

.subscribe-primary-title {
  font-size: 35px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgba(27, 27, 27, 1);
  line-height: 50px;
  width: 250px;
  padding-bottom: 30px;
}

.subscribe-email {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgba(141, 138, 122, 1);
}

#subscribe-email-right-arrow {
  position: relative;
  right: 50px;
  background-color: rgba(18, 41, 75, 1);
  padding: 8px;
  color: #fff;
}

.subscribe-massage-cart {
  background-color: rgba(99, 175, 181, 1);
  width: 280px;
  height: 340px;
  margin-top: 40px;
  margin-left: 80px;
}

.first-massage {
  background-color: rgba(112, 105, 130, 1);
  position: relative;
  top: 30px;
  left: 30px;
  padding: 15px 20px;
  border-radius: 0px 15px 15px 15px;
  width: 200px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.second-massage {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  top: 50px;
  left: 80px;
  padding: 25px 20px;
  border-radius: 25px 25px 0px 25px;
  line-height: 22px;
  width: 230px;
}

.subscribe-massage-peple-icon {
  position: relative;
  left: 320px;
  top: 20px;
}

.subscribe-massage-textbox {
  position: relative;
  top: 80px;
  background-color: transparent;
  border: 2px solid rgba(104, 118, 135, 1);
  padding: 15px 25px;
  border-radius: 50px;
}

#subscribe-massage-icon {
  position: relative;
  left: 210px;
  top: 38px;
  font-size: 35px;
  color: rgba(255, 255, 255, 1);
}

.subscribe-shape{
  position: relative;
  bottom: 230px;
  left: 410px;
}
/* subscribe part end  */
